// Declarations
pushn 10
pushi 0
pushi 0
pushi 0

// Program
start
WHILE1:
pushg 10
pushi 10
inf
jz ENDWHILE1
pushgp
pushi 0
padd
pushg 10
read
atoi
storen
pushg 10
pushi 1
add
storeg 10
jump WHILE1
ENDWHILE0:
pushg 10
pushi 1
sub
storeg 10
WHILE3:
pushg 10
pushi 0
sup
jz ENDWHILE3
pushgp
pushi 0
padd
pushg 10
loadn
pushi 2
MOD
storeg 11
pushg 11
pushi 1
equal
jz L2
pushgp
pushi 0
padd
pushg 10
loadn
writei
pushg 12
pushi 1
add
storeg 12
L1:
pushg 10
pushi 1
sub
storeg 10
jump WHILE3
ENDWHILE2:
stop

//Tabela de Símbolos
//--------------------------------------
//Index:105, identifier:i, varPos:10, type:int
//Index:118, identifier:v, varPos:0, type:intArray
//Index:320, identifier:mod, varPos:11, type:int
//Index:553, identifier:count, varPos:12, type:int
//--------------------------------------
