pushn 10
pushi 0
pushi 0
pushi 0
start
WHILE0:
pushg 10
pushi 10
inf
jz ENDWHILE0
pushgp
pushi 0
padd
pushg 10
read
atoi
storen
pushg 10
pushi 1
add
storeg 10
jump WHILE0
ENDWHILE0:
pushg 10
pushi 1
sub
storeg 10
WHILE2:
pushg 10
pushi 0
sup
jz ENDWHILE2
pushgp
pushi 0
padd
pushg 10
loadn
pushi 2
MOD
storeg 11
pushg 11
pushi 1
equal
jz L1
pushgp
pushi 0
padd
pushg 10
loadn
writei
pushg 12
pushi 1
add
storeg 12
L1:
pushg 10
pushi 1
sub
storeg 10
jump WHILE2
ENDWHILE2:
stop
