pushi 0
read
atoi
storeg 0
pushi 0
read
atoi
storeg 1
pushi 0
read
atoi
storeg 2
pushi 0
read
atoi
storeg 3
start
pushg 0
pushg 1
equal
pushg 1
pushg 2
equal
mul
pushg 2
pushg 3
equal
mul
jz ELSE0
pushi 1
writei
jump ENDIF0
ELSE0:
pushi 0
writei
ENDIF0:
stop
