// Declarations
pushi 0
read
atoi
storeg 0
pushi 0
read
atoi
storeg 1
pushi 0
read
atoi
storeg 2
pushi 0
read
atoi
storeg 3

// Program
start
pushg 0
pushg 1
equal
pushg 1
pushg 2
equal
mul
pushg 2
pushg 3
equal
mul
jz ELSE0
pushi 1
writei
jump ENDIF0
ELSE0:
pushi 0
writei
ENDIF0:
stop

//Tabela de Símbolos
//--------------------------------------
//Index:97, identifier:a, varPos:0, type:int
//Index:98, identifier:b, varPos:1, type:int
//Index:99, identifier:c, varPos:2, type:int
//Index:100, identifier:d, varPos:3, type:int
//--------------------------------------
